html {
  background: #faf9fa;
  height: 100%;
}
.app-container {
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

.nav-bar-container {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  /* color: #fff; */
  background: #010101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  /* background: #36454f; */
}



#logo {
  font-size: 36px;
  color: #faf9fa;
  margin-left: 5vw;
  width: 150px;

}

.nav-buttons {
  display: flex;
  width: 30vw;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  margin-right: 5vw;

}
.nav-button a {
  color: #faf9fa;
  font-size: 24px;
  height: 50px;
}

.nav-button:hover {
  background: #25282A;

}
.nav-button {
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
}



.main-page-container {
  margin-top: 50px;
  height: 100%;
}

.main-page-banner {
  position: relative;

}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);

}

.banner-text {
  position: absolute;
  margin: auto;
  font-size: 8vw;
  width: 60vw;
  height: 10vw;
  top: 0px;
  /* top: calc(50% - 5vw); */
  left: calc(50% - 30vw);
  text-align: center;
  color: #faf9fa;
}

.profile-image {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  border: 5px solid #fff;
  background: black;
  position: absolute;
  top: -8vw;
  left: 50px;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .nav-bar-container {
    height: 100px;
    display: block;
  }

  .nav-buttons {
    margin-right: 0px;
    margin-left: calc(5vw - 10px);
    justify-content: flex-start;
  }

  .main-page-container {
    margin-top: 100px;
  }

  .profile-image {
    width: 50vw;
    height: 50vw;
    top: -25vw;
    left: 25vw;

  }
}

.actual-content {

  height: 100%;
  width: 100%;

  background: #fff;
  font-size: 1.65vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-end; */
}

.about-me-header {
  font-size: 40px;
  font-weight: 700;
  /* position: absolute; */
  /* top: -5vw; */
  margin-left: calc(17vw + 100px);
  /* border-bottom: 1px solid #000;
  width: calc(100% - 17vw - 150px); */
  margin-bottom: 1vw;
  margin-top: 2vw;
  font-family: "Raleway", sans-serif;


}

.about-me {
  margin-left: calc(17vw + 50px);
  padding: 50px;
  padding-top: 0px;
  font-weight: 300;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.about-me-details {
  position: absolute;
  top: calc(8vw + 20px);
  font-size: 20px;
  padding: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 18vw;
}



.about-me-details div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;

}

.about-me-details div:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 650px) {
  .about-me-header {
    font-size: 30px;
    margin-left: 0px;
    padding: 0 10px;
    margin-top: 30vw;

  }

  .about-me {
    /* margin-top: calc(10vw + 180px); */
    margin-left: 0px;
    font-size: 20px;
    padding: 20px;
  }

  .about-me-details {
    /* top: calc(30vw + 80px); */
    margin: 5vw;
    width: 80vw;
    font-size: 24px;
    position: relative;
    margin-top: -10vw;
    margin-bottom: 20vw;
  }
}


.technologies-header {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
}

.languages-header {
  font-size: 3vw;
  font-weight: 700;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 3vw;

}




.languages {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3vw;
  flex-wrap: wrap;


}

.languages i {




  font-size: 8vw;
  margin-bottom: 1vw;
}


.languages i:hover {

    /* color: #36454f; */
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2.5vw;
}

.language span {
  font-size: 2vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.language:hover {
  /* background: #eee; */
}

.frameworks-header {
  font-size: 3vw;
  font-weight: 700;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 2vw;
}

@media screen and (max-width: 650px) {
  .technologies-header {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .languages-header {
    font-size: 24px;
  }

  .frameworks-header {
    font-size: 24px;
  }

  .languages {


  }

  .languages i {
    font-size: 75px;
  }

  .language {


  }

  .language span {
    font-size: 16px;
  }
}

.portfolio-header {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  width: 90%;
  margin: 3vw auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding-bottom: 1vw;

}


.portfolio-container {

}

.portfolio-item {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5vw;
}


.project-header {
  width: 200px;
}

.item-description {
  padding: 20px;

  width: 50%;
  box-sizing: border-box;
}

.item-description.goodplays {
  background: #4b367c;


}

.item-description.goodplays span {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.item-description.goodplays img {
  margin-left: -15px;
}

.item-description.xperience {
  background: #25282A;
}

.item-description.xperience span {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.item-description.xperience img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-description.prettypbp {
  background: #243E90;
}

.item-description.prettypbp span {
  color: #FFCD34;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;

}

.item-description.prettypbp img {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -20px;
}

.item-image {
  width: 50%;
}

.project-links {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  margin-right: 5vw;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  padding: 5px 20px;
}

.btn:hover {
  border: 1px solid #ddd;
  color: #ddd;
}

.project-links .btn:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 1200px){

  .portfolio-item {
    display: block;
  }
  .item-description {
    width: 100%;
  }

  .portfolio-item:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  .item-image {
    width: 100%
  }
}

@media screen and (max-width: 650px) {
  .portfolio-header {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }





}

.contact-header {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  width: 90%;
  margin: 3vw auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding-bottom: 1vw;
  position: relative;
}

.contact-header a {
  position: absolute;
  top: 350px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-button {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

.contact-button.icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.form-image {
  width: 50%;
  height: inherit;

}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.top-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 40px;
}

.top-inputs input {
  width: 45%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  height: 40px;


}

textarea {
  height: calc(100% - 120px);
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  bottom: 0px;
  box-sizing: border-box;

}

@media screen and (max-width: 900px) {


  .form-container {
    display: block;
  }
  .form {
    width: 100%;
    box-sizing: border-box;
  }

  .form-image {
    display: none;
  }

}

@media screen and (max-width: 650px) {



  .contact-header {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .contact-header a {
    top: 225px;
  }

  textarea {
    min-height: 200px;
  }


}

@media screen and (max-width: 500px) {
  .social-media {
    width: 225px;
    margin: 0 auto;
  }

  .contact-button {
    margin-bottom: 20px;
  }

}

.submit-btn {
  background: #25282A;
  color: #fff;
  width: 125px;
  text-align: center;
  padding: 10px;
  line-height: 1;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
  height: 40px;
  font-size: 20px;
}


.bottom-padding {
  height: 100px;
}
